<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Layout</title>
</head>
<body>
    <header>
        <nav>
            <figure>Icono</figure>
            <ul>
                <li>Home</li>
                <li>cursos</li>
                <li>ajustes</li>
                <li>quienes somos</li>
            </ul>
        </nav>
        
    </header>
    <main>
        <aside>
                <div class="img">ok</div>
                <div class="img">sasa </div>
                <div class="img">mmmmmm</div> 
        </aside>
        <section>
            <p>sasa</p>
        </section>
    </main>
    <footer>
        <p>
            Rafelito 809 el creador de este layout
        </p>
    </footer>
    
</body>
</html>